/* basic code */
*{
    box-sizing: border-box;

}
hmtl{
    line-height: 1.15;
}
body{
    margin: 0;
    font-family: "Roboto",sana-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:#6c757d;
    text-align: left;
    background-color: #fff;


}
.about-img{
    margin-left:-100px ;
    right:-60px;
}
.btn{
    padding: 10px 25px;
    border-radius: 100px;
}
.btn-white{
    background-color: #fff;
    border: 2px solid #fff;
}
.btn-blue{
    border: 2.4px solid #ffffff;
    color: #ffffff;
}
.hero-text{
    margin-top: 150px;
}
.typed-cursor{
    font-size:45px;
    color: #fff;
}
.postion-absolute{
    font-weight: 700;
}
/* nav bar */
a{
    color:#0bceaf;
    text-decoration: none;
    background-color: transparent;
}
a:hover{
    color: #078571;
    text-decoration: underline;
}
.navbar-light{
    display: none;
}
.navbar-light .navbar-nav .nav-link{
    padding: 25px 10px;
    color:#343a40;
    font-weight: 500;
    outline: none;
}
/* about */
.blue{
    background-color: rgb(32,145,248);
    color: #ffffff;
}
.blue:hover{
    background-color: rgb(255,255,255);
    color: #0f6eeb;
    border-radius: 2px solid rgb(20,109,241);
}
.progress{
    border-radius:10px ;

}
.progress:hover{
    width: 0px;
    border-radius: 10px;
    transition: 2s;
}
.display-1{
    font-size: 160px;
    font-weight: 1000;
}
.postion-absolute{
    font-weight: 700;
}
.ex-me{
    margin-top: 35px;
}
/* service */
.service-h4{
    padding-bottom: 30px;
  }
  
  .service-icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
  }
  
  .service-box{
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);  
    margin-left: 20px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .service-box:hover{
    box-shadow: 0px 1px 13px rgba(27, 27, 27, 0.705); 
   
  }